body, th, td {
    font-size: 11pt;
    font-family: verdana, sans-serif;
    margin-left: 3em;
    margin-right: 3em;
    text-align: left;
}

code {
    background-color: yellow;
}

#HEADLINE {
    font-size: 12pt;
}

A {
    color :#993300;
}

A:hover {
    color: #404040;
}

/*
 * This will look like the actual WikiHeading; I don't think we want that.
 *
h1 {
    color: #993300;
}
*/

h2 {
    border-bottom: #646464 1px solid;
    background-color: lightcoral;
    margin-top: 1.5em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    padding-bottom: 0.1em;
}

h3 {
    padding-top: 0.5em;
}

h4 {
    font-style: italic;
}

p, li {
    line-height: 150%;
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}

dd {
    margin-left: 4em;
    margin-right: 15%;
}

pre {
    padding: 0.5em;
    margin-left: 3em;
    margin-right: 3em;
    white-space: pre;
    background-color: lavender;
    border: 1px solid lightcoral;
    color: black;
}

/* vim: sw=4 et
*/
